.Container {
}

.current-page {
    margin: 0.5em;
    color: white;
    font-weight: bold;
}

#page-numbers {
    list-style: none;
    display: flex;
    color: #747474;
    width: 50%
}

.page {
    margin: 0.5em;
    user-select: none;
    cursor: pointer;
}